.NewsQuoteBlock__inner:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -52px;
  left: 40px;
  width: 104px;
  height: 104px;
  background: url('../icons/NewsQuoteBottom.svg') no-repeat;
}

.NewsQuoteBlock__inner:before {
  content: '';
  display: block;
  position: absolute;
  top: -52px;
  right: 40px;
  width: 104px;
  height: 104px;
  background: url('../icons/NewsQuoteTop.svg') no-repeat;
}