@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7FAFC;
  --foreground: #2C5282;
}

* {
  outline: none !important;
}

html, body {
  height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  box-sizing: border-box;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
}
.activeStyle {
  font-weight: 900;
}

.title-row {
  @apply font-bold text-[18px] text-admin-700 break-words whitespace-normal;
}

.modal {
  pointer-events: none;
  position: fixed;
  inset: 0px;
  margin: 0px;
  display: grid;
  height: 100%;
  max-height: none;
  width: 100%;
  max-width: none;
  justify-items: center;
  align-items: center;
  padding: 0px;
  opacity: 0;
  overscroll-behavior: contain;
  z-index: 999;
  background-color: transparent;
  color: inherit;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-property: transform, opacity, visibility;
  overflow-y: hidden;
}
.modal-open {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  background: rgba(0, 0, 0, 0.37);
}
.modal-box {
  max-height: calc(100vh - 5em);
  width: 515px;
  grid-column-start: 1;
  grid-row-start: 1;
  overflow-y: auto;
  overscroll-behavior: contain;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 50px 40px;
  position: relative;
}
.modal__header {
  padding-right: 36px;
}
.modal__close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 44px;
  right: 33px;
  z-index: 99;
  cursor: pointer;
}


 /* Main Slider */

  .embla {
    @apply max-w-[var(--max-width)] mx-auto;
    --slide-size: 824px;
  }
  .embla-slide {
    @apply flex-none;
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
  }
  .embla__slide {
    flex-shrink: 0;
    width: 360px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .embla-slide-img {
    @apply w-full h-[544px] object-cover transition-all duration-300;
  }
  .embla-slide-text-container {
    @apply absolute inset-0 flex items-center justify-center 
    bg-[#0F1B4080] 
    opacity-0 transition-all duration-300 cursor-pointer;
  }
  .embla-slide-inner-text {
    @apply flex flex-col gap-y-4 w-[544px] translate-x-[-84px] translate-y-[119px];
  }
  .embla-slide-btn {
    @apply absolute top-1/2 w-[60px] h-[60px] -translate-y-1/2 p-3 bg-primary-400 
    opacity-0 group-hover:opacity-100 transition rounded-full z-10;
  }
  .embla-slider-dots {
    @apply absolute bottom-6 left-1/2 -translate-x-1/2 flex space-x-6 bg-white bg-opacity-40 py-1.5 px-[19.5px] rounded-[16px];
  }
  .embla-slider-dot {
    @apply w-3 h-3 rounded-full transition-all;
  }
  .slide-btn {
    @apply absolute top-1/2 w-[60px] h-[60px] opacity-70 -translate-y-1/2 p-3 bg-primary-400 transition rounded-full z-20;
  }


  .react-calendar-datetime-picker  {
    background: transparent !important;
  }