@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7FAFC;
  --foreground: #2C5282;
}

* {
  outline: none !important;
}

html, body {
  height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  box-sizing: border-box;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
}
.activeStyle {
  font-weight: 900;
}