@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FEF7F1;
  --foreground: #171717;
  --max-width: 1440px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
}

*,
*:focus-visible {
  outline: none !important;
}

html {
  scroll-behavior: smooth;
}



@media (width >= 1536px) {
  .container {
    max-width: 1280px;
  }
}

@layer utilities {
  /* Main */

  .center {
    @apply mx-auto w-full max-w-[var(--max-width)];
  }
  .preheader {
    @apply text-preheader text-font-accent uppercase;
  }

  /* Header */

  .header {
    @apply p-4 bg-[#FFF] fixed w-full left-0 z-50;
  }
  .header__inner {
    @apply flex justify-between items-center mx-auto w-full lg:max-w-[1344px] max-w-[calc(100%-30px)]
  }
  /* .header.menuOpen {
    @apply rounded-b-none
  } */
  
  .donate-btn {
    @apply bg-buttons-cta-default hover:bg-buttons-cta-hover active:bg-buttons-cta-active duration-500 text-font-white text-medium1 font-helv rounded-lg px-[60px] py-4;
  }
  .language-btn {
    @apply text-font-primary inline-flex items-center gap-x-2 p-3 px-2 text-sm font-helv text-medium1;
  }
  .headerMobile {
    @apply hidden
  }
  .headerShowMobile {
    @apply bg-white px-12 py-4 rounded-[20px] shadow-header fixed top-[96px] w-full left-0 block transition-all duration-300 z-[999];
  }

  /* Menu */

  .menu-link {
    @apply text-font-accent hover:text-font-secondary py-1;
  }
  .active-link {
    @apply !text-font-secondary underline;
  }

  /* Footer */

  .footer {
    @apply  bg-background-secondary;
  }
  .footer__inner {
    @apply flex justify-between items-center mx-auto w-full max-w-[var(--max-width)] px-12 py-12
  }
  .footer-links {
    @apply flex flex-col gap-y-4 text-large font-helv;
  }

  /* Main Slider */

  .embla {
    @apply max-w-[var(--max-width)] mx-auto;
    /* --slide-size: 824px; */
  }
  .embla-slide {
    @apply flex-none;
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
  }
  .embla__slide {
    flex-shrink: 0;
    width: 360px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .embla-slide-img {
    @apply w-full h-[544px] object-cover transition-all duration-300;
  }
  .embla-slide-text-container {
    @apply absolute inset-0 flex items-center justify-center 
    bg-[#0F1B4080] 
    opacity-0 transition-all duration-300 cursor-pointer;
  }
  .embla-slide-inner-text {
    @apply flex flex-col gap-y-4 w-[544px] translate-x-[-84px] translate-y-[119px];
  }
  .embla-slide-btn {
    @apply absolute top-1/2 w-[60px] h-[60px] -translate-y-1/2 p-3 bg-primary-400 
    opacity-0 group-hover:opacity-100 transition rounded-full z-10;
  }
  .embla-slider-dots {
    @apply absolute bottom-6 left-1/2 -translate-x-1/2 flex space-x-6 bg-white bg-opacity-40 py-1.5 px-[19.5px] rounded-[16px];
  }
  .embla-slider-dot {
    @apply w-3 h-3 rounded-full transition-all;
  }
  .slide-btn {
    @apply absolute top-1/2 w-[60px] h-[60px] opacity-70 -translate-y-1/2 p-3 bg-primary-400 transition rounded-full z-20;
  }

  /* Sponsors */

  .sponsors__inner {
    @apply flex flex-col gap-y-10;
  }
  .sponsors-logos {
    @apply flex items-center justify-center gap-x-20;
  }

  /* .sponsors-slider .slick-track {
    display: flex;
    align-items: center
  }  */

  /* Partners */

  .partners-text {
    @apply flex flex-col gap-y-4;
  }
  .partners-form {
    @apply flex flex-col gap-y-6;
  }

  /* Home Video */

  .video-section {
    @apply py-12;
  }
  .video-section__inner {
    @apply flex flex-col gap-y-10;
  }

  /* News & Events */

  .news-section {
    @apply flex flex-col gap-y-10 py-14;
  }

  /* Modal */
  
  .modal-wrapper {
    @apply bg-[#0000005E] w-[100vw] h-[100vh] fixed top-[0px];
  }
  .modal-position {
    @apply fixed left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%];
  }
  .modal {
    @apply w-[400px] rounded-2xl bg-grey-50 p-6 flex flex-col gap-y-2;
  }
  .modal-icon {
    @apply w-[48px] h-[48px] rounded-full flex items-center justify-center border-8;
  }
  .modal-open .header-position {
    z-index: 0;
  }

  /* Contacts */

  .contacts-section {
    @apply flex justify-between lg:flex-row flex-col lg:py-[72px] lg:px-[106px] py-[35px] px-[35px] rounded-2xl bg-grey-50 shadow-[0px_4px_12px_0px_rgba(180,140,100,0.15)];
  }
}


.headerShowMobile .menu__items {
  display: block;
}
.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  /* padding: 15px; */
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  height: 24px;
}
.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}
.hamburger-inner:after, 
.hamburger-inner:before {
  display: block;
  content: "";
}
.hamburger-inner, 
.hamburger-inner:after, 
.hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #1E3770;
}
.hamburger-inner:before {
  top: -10px;
}
.hamburger-inner:after {
  bottom: -10px;
}
.hamburger--squeeze .hamburger-inner {
  transition-timing-function: cubic-bezier(.55,.055,.675,.19);
  transition-duration: 75ms;
}
.hamburger--squeeze .hamburger-inner:before {
  transition: top 75msease .12s, opacity 75msease;
}
.hamburger--squeeze .hamburger-inner:after {
  transition: bottom 75msease .12s, transform 75mscubic-bezier(.55,.055,.675,.19);
}
.hamburger--squeeze.is-active .hamburger-inner {
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transform: rotate(45deg);
}
.hamburger--squeeze.is-active .hamburger-inner:before {
  top: 0;
  transition: top 75msease, opacity 75msease .12s;
  opacity: 0;
}
.hamburger--squeeze.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 75msease, transform 75mscubic-bezier(.215,.61,.355,1) .12s;
  transform: rotate(-90deg);
}


.ul li {
  position: relative;
  padding-left: 40px;
}
ul li:before {
  position: absolute;
  left: 0;
  top: 8px;
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background: url('./check-Icon.svg') no-repeat;
}
ol {
  list-style: auto;
  padding-left: 20px;
}
.filterNews__item:before {
  content: none;
}
p {
  margin-bottom: 10px;
}

.language-btn + .language-btn:before  {
  position: absolute;
  left: 0;
  content: '';
  width: 1px;
  height: 12px;
  background: #B5B5B5;
}
.home-slider .slick-list,
.home-slider .slick-track,
.home-slider .slick-slide > div {
  height: 100%;
}
.embla-slider-dots li {
  padding: 0;
  font-size: 0;
}
.embla-slider-dots li button {
  height: 12px;
  width: 12px;
  border-radius: 9999px;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
  background: #FAFAFA;
}
.embla-slider-dots li.slick-active button {
  background: #3D5EA7;
}
.embla-slider-dots li:before {
  content: none;
}

.submenu-ul::-webkit-scrollbar {
  height: 2px;
}
.submenu-ul::-webkit-scrollbar-track {
  background: #f0f0f0;
}
.submenu-ul::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 3px;
}



@media (min-width: 1280px) {
  .home-general-section {
    height: calc(100dvh - 96px);
  }
  
}

@media(max-width: 1023px) {
  .embla-slide {
    width: 100%;
    flex:  0 0 100%;;
  }
  .home-general-section .slick-slide-btn {
    display: none;
  }
}

@media(max-width: 1280px) {
  .menu-link {
    font-size: 14px;
  }
  header .donate-btn {
    padding: 16px 40px;
  }
}


.custom-donate-btn:hover span {
  transition: filter 0.5s ease;
  filter: drop-shadow(0 0 14px rgba(255, 255, 255, 1));
}

/* List */

@layer utilities {
  .list-bg-before-image {
    &::before {
      background-image: var(--list-before-bg-image);
    }
  }
}